#map{

		height: 80%;
	}

.info{

		margin-bottom: 100px;
	}

.container{

		padding-top: 20px;
	}

/* desktop */


/* mobile */
@media screen and (max-width: 480px){

	#map{

		height: 50%;
	}
	.mini-map iframe{

	height: 200px;
	width: 250px;

	}
	.container{

		padding-top: 50px;
	}
	.endereco{

		font-size: 16px;
	}
	.infos h2{

		margin-bottom: 50px;
	}
	.infos p{

		font-size: 14px;
	}

	.info{

		margin-bottom: 100px;
	}
}
